<!DOCTYPE html>

<html>
	<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" rel="stylesheet">
	
	<style>
		.container {
			padding:20px;
		}
		input {
			margin-bottom: 15px;
		}
	</style>
	
	</head>

<body>


	<div class="container">

		<nav class="level is-mobile">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">P</p>
					<p class="title">1.2</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Low</p>
					<p class="title">1.12</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">High</p>
					<p class="title">1.5</p>
				</div>
			</div>
		</nav>
	
	
		<br/>
		<div class="field">
			<label class="label is-medium">X</label>
			<div class="control">
				<input class="input is-medium" type="text" placeholder="Text input">
			</div>
		</div>
		
		<div class="field">
			<label class="label is-medium">P (U)</label>
			<div class="control">
				<input class="input is-medium" type="text" placeholder="Text input">
			</div>
		</div>
		
		<div class="field">
			<label class="label is-medium">U</label>
			<div class="control">
				<input class="input is-medium" type="text" placeholder="Text input">
			</div>
		</div>
		
		<div class="control">
			<button class="button is-primary is-medium">Submit</button>
		</div>


	</div>

</body>
</html>